[submodule "Android/library/src/main/cpp/libs/cimgui"]
	path = Android/library/src/main/cpp/libs/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "StArray.ModManager.Windows/Native/kiero2"]
	path = StArray.ModManager.Windows/Native/kiero2
	url = https://github.com/kirchesz/kiero2.git
[submodule "StArray.ModManager.Windows/Native/minhook"]
	path = StArray.ModManager.Windows/Native/minhook
	url = https://github.com/TsudaKageyu/minhook
